# Use this file to create a conda environment using:
# conda create -n <name> --file conda-requirements.txt

# Mandatory dependencies
iris
tqdm

# build dependencies
setuptools

# documentation
sphinx