version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  test:
    docker:
      - image: continuumio/miniconda3
    executor: python/default
    steps:
      - checkout
      - run: conda config --add channels conda-forge
      - run: conda config --set always_yes true
      - run: conda config --set quiet true
      - run: conda install iris
      - run: pip install -r tests_requirements.txt
      - run: mkdir -p test_results/all_tests
      - run:
          name: Run tests
          command: |
            pytest -v --cov=./GCEm --junitxml=./test_results/all_tests/results.xml -m "not slow" -n 2
      - run:
          name: Upload coverage report
          command: |
            bash <(curl -s https://codecov.io/bash) -t "${CODECOV_TOKEN}"
      - store_test_results:
          path: ./test_results/all_tests

workflows:
  main:
    jobs:
      - test
